# Python
*.pyc
__pycache__/
venv/
*.egg-info/
dist/
build/
*.log

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Jupyter kernel
.ipynb_kernel*

# Environment and package files
.env
*.env
requirements.txt
*.lock

# IDE-specific files
.vscode/
.idea/

# Miscellaneous
.DS_Store
Thumbs.db
